/node_modules
/static/shicun/远古石村，许你千年.mp4
/static/shicun/石村印象.mp4
/static/shicun/user.zip
/static/shicun/fullView/node_modules
/static/shicun/fullView/src/img
/static/shicun/forum-pro/node_modules
/static/shicun/manage/node_modules
/static/shicun/Minecraft/node_modules
/static/shicun/stone/node_modules